/* Estilos para la sección de contacto */
.service-section {
  min-height: calc(100vh - 60px); /* Ajusta la altura mínima teniendo en cuenta el tamaño de la navbar */
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  padding: 20px; /* Añade relleno para evitar que el contenido toque los bordes */
  box-sizing: border-box; /* Incluye el relleno y el borde en el tamaño total del elemento */
  background-color: aqua;
}

.service-container {
  text-align: center; /* Centra el texto en el contenedor */
}

.service-section h2 {
  margin: 0;
  font-size: 2rem;
  color: #fff; /* Color del texto */
}

.service-section p {
  font-size: 1.2rem;
  color: #fff; /* Color del texto */
}
